<div class="container-fluid">
  <div style="color: blue;">
    <h1>{{ title }}</h1>
  </div>

  <div class="container-main">
    <div class="quotes-form">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="item">Book</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Book"
            id="item"
            required
            [(ngModel)]="book"
            name="chapter"
          />
        </div>
        <div class="form-group">
          <label for="item">Chapter</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Chapter"
            id="item"
            required
            [(ngModel)]="chapter"
            name="chapter"
          />
        </div>

        <div class="form-group">
          <label for="item">Verse</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Verse"
            id="item"
            required
            [(ngModel)]="verse"
            name="verse"
          />
        </div>

        <div class="form-group">
          <label for="item">Quote</label>
          <textarea
            class="form-control"
            placeholder="Enter Quote"
            name="quote"
            cols="40"
            rows="5"
            required
            [(ngModel)]="quote"
          ></textarea>
        </div>

        <div class="btn-group">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
    <div></div>
    <div class="output">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Book</th>
            <th>Chapter</th>
            <th>Verse</th>
            <th scope="col">Quote</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of (quotes | async).reverse()">
            <td scope="row">{{item.book}}</td>
            <td >{{item.chapter}}</td>
            <td>{{item.verse}}</td>
            <td>{{item.quote}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
